<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/css/signin.css}" rel="stylesheet">
    <title>Login</title>
</head>
<body class="text-center">

<!--그냥 action만 하면 csrf토큰이 전달되지 않기 때문에 th:action으로 해야한다.-->
<form class="form-signin text-center" th:action="@{/account/login}" method="post">
    <img class="mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72"
         height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="alert alert-secondary" role="alert">
        You have been logged out.
    </div>

    <div class="form-floating">
        <input type="text" name="username" class="form-control" id="username" placeholder="Username">
        <label for="username">Username</label>
    </div>
    <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
</form>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Core theme JS-->

</body>
</html>
